.carInventory {
  background: rgb(36, 2, 142);
  background: linear-gradient(
    90deg,
    rgba(36, 2, 142, 1) 35%,
    rgba(70, 19, 231, 1) 97%
  );
  height: 100vh;
  overflow-y: scroll;
  .car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .car-model {
      background: white;
      margin: 2rem;
      padding: 5px;
      min-width: 35rem;
      height: 8rem;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      position: relative;
      -webkit-box-shadow: 4px 6px 33px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 6px 33px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 6px 33px -9px rgba(0, 0, 0, 0.75);
      .car-image {
        display: inline-block;
        padding-top: 1rem;
        img {
          margin-left: 1rem;
          width: 10rem;
        }
      }
      .car-content {
        position: absolute;
        display: inline-block;
        padding-top: 1rem;
        color: black;
        h1 {
          left: 2rem;
          margin: 0 0 0.5rem 1.5rem;
        }
        .mileage {
          display: inline-block;
          color: grey;
          margin-left: 1.5rem;
          top: 3rem;
          span {
            color: black;
            font-weight: bold;
          }
        }
        .price {
          display: inline-block;
          color: grey;
          margin-left: 2rem;
          top: 3rem;
          span {
            color: black;
            font-weight: bold;
          }
        }
        .body {
          display: inline-block;
          color: grey;
          margin-left: 1.5rem;
          top: 3rem;
          span {
            color: black;
            font-weight: bold;
          }
        }
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
