$red: #e1332d;
$white: #fff;

.content {
  width: 100%;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/car-wallpaper.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .main-phrase {
    position: absolute;
    margin-top: 13rem;
    margin-left: 5rem;
    font-size: 2rem;
    h1 {
      margin: 0;
    }

    .white-font {
      color: white;
    }

    .red-font {
      color: red;
      display: block;
    }
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 3rem;
    top: 28rem;

    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: 400px) {
      display: inline-block;
      margin-right: 2.5em;

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }

    @media (min-width: 600px) {
      margin: 0 1em 2em;

      &:nth-of-type(even) {
        margin-right: 2.5em;
      }

      &:nth-of-type(5) {
        margin-right: 0;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .btn-1 {
    font-weight: 100;

    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }

  .btn-1:hover {
    background: rgba($red, 0);
    font-weight: 900;
    letter-spacing: 1px;

    rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
